@import url(../css/global.css);

.box__cadastroProjetos {
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
}

.boxCadastro__label {
    display: flex;
    flex-direction: column;
    margin: 30px 0 30px 0;
}

.boxCadastro__label h3{
    font-weight: 400;
}

.section__cadastroProjetos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 12vh;
    margin-left: 12vw;
    margin-bottom: 12vh;
}

.section__cadastroProjetos h1 {
    font-size: 40px;
    color: var(--cor-primaria);
    margin: 40px 0 20px 0;
}

.projetoNome__input {
    padding: 10px;
    width: 60%;
    height: 40px;
    box-shadow: 15px 15px 29px 4px rgba(0, 0, 0, 0.25), inset 4px 3px 12px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
}

.projetoDescricao__input {
    padding: 10px;
    max-width: 60%;
    min-width: 60%;
    max-height: 100px;
    min-height: 100px;
    box-shadow: 15px 15px 29px 4px rgba(0, 0, 0, 0.25), inset 4px 3px 12px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
    border-radius: 14px;
}

.div__inputDate {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.projetoData__input {
    padding: 0 10px 0 10px;
    width: 200px;
    height: 40px;
    box-shadow: 15px 15px 29px 4px rgba(0, 0, 0, 0.25);
}

.projetoArquivo__input {
    border-radius: 0px;
}

.boxCadastro__btnCriar {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #1B65A6;
    color: #ffff;
    width: 15vw;
    height: 7vh;
	transition: all 0.5s;
	position: relative;
}

.boxCadastro__btnCriar::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255,255,255,0.1);
	transition: all 0.3s;
}

.boxCadastro__btnCriar:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.boxCadastro__btnCriar::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgba(255,255,255,0.5);
	transform: scale(1.2,1.2);
}
.boxCadastro__btnCriar::after {
	opacity: 1;
}

.btn_cadastro_carregando {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    font-size: 16px;
    border: none;
    cursor: wait;
    width: 15vw;
    height: 7vh;
    background-color: #1B65A6;
    transition: all 0.5s;
    color: #ffff;
}

.btn_salvar{
    margin-top: 5vh;
}

.box__ilustracao {
    display: flex;
    align-self: flex-end;
    width: 38vw;
}