.box__semProjetos {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    font-size: 30px;
    font-weight: bold;
}

.box__listagemProjetos {
    display: flex;
    height: 89vh;
    align-items: center;
    flex-direction: column;
    background-color: #f8f8f8;
}

.section__listagemProjetos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 12vh;
    margin-left: 12vw;
}

.section__listagemProjetos h1 {
    font-size: 40px;
    color: var(--cor-primaria);
    margin: 40px 0 20px 0;
}

.div__tituloInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div__tituloInput input {
    margin-top: 40px;
    width: 30%;
    height: 50px;
    padding-left: 10px;
}

.box__filter {
    display: flex;
    align-items: center;
}

.section__projeto {
    display: flex;
    justify-content: center;
}

.box__projeto {
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 150px;
    width: 80%;
    margin: 10px 0 20px 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

.containerBox {
    display: flex;
    width: 95%;
}

.divisoria__imgEmpresa {
    clip-path: polygon(0% 0%, 60% 0, 100% 50%, 60% 100%, 0 100%);
    background-color: #D5E6F0;
    height: 100px;
    width: 140px;
    display: flex;
    align-items: center;
}

.box__imgEmpresa {
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-left: 10px;
}

.box__infProjeto {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.divisoria {
    background-color: #909090;
    width: 1px;
    height: 90px;
}

.div__membersGear {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.div__members {
    display: flex;
    flex-direction: column;
}

.btn__settings {
    width: fit-content;
    height: fit-content;
    background: transparent;
    border-width: inherit;
}

svg.iconify.iconify--bi.projeto__icon:hover {
    cursor: pointer;
    transition: all 1.5s 0s ease;
    transform: scale(1.1);
    transition: all 0.2s;
}

svg.iconify.iconify--bi.projeto__icon {
    font-size: 45px;
}

.projeto__icon path {
    color: #A6A0AE;
    font-size: 90px;
    display: flex;
    justify-self: flex-end;
}

.btn__criarProjeto {
    margin-bottom: 10px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #1B65A6;
    color: #ffff;
    width: 25vw;
    height: 8vh;
	transition: all 0.5s;
	position: relative;
}

.btn__criarProjeto::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255,255,255,0.1);
	transition: all 0.3s;
}
.btn__criarProjeto:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.btn__criarProjeto::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgba(255,255,255,0.5);
	transform: scale(1.2,1.2);
}
.btn__criarProjeto::after {
	opacity: 1;
}