.box__listagemTasks {
    display: flex;
    height: 89vh;
    align-items: center;
    flex-direction: column;
    background-color: #f8f8f8;
}

.section__listagemTasks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 12vh;
    margin-left: 12vw;
}

.section__listagemTasks h1 {
    font-size: 40px;
    color: var(--cor-primaria);
    margin: 40px 0 20px 0;
}

.div__tInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div__titlesTasks {
    display: flex;
    flex-direction: column;
}

.div__titlesTasks h2 {
    font-size: 2em;
    color: black;
    margin-bottom:2rem;
}

.div__tInput input {
    margin-top: 40px;
    width: 30%;
    height: 50px;
    padding-left: 4vw;
    position: relative;
}

.box__filter {
    display: flex;
    align-items: center;
}

.section__tasks {
    display: flex;
    justify-content: center;
}

.box__task {
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 15vh;
    width: 80%;
    margin: 10px 0 20px 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

.box__task:hover{
    background-color: #ecebee;
    transition: 0.4s;
    transform: scale(1.03);
}

.box__infTask{
    display: flex;
    justify-content: center;
    align-items: center;
}

.alertTask{
    color: rgb(234, 238, 20);
    font-size: 2em;
}
.checkTask{
    color: #59a842;
    font-size: 2em;
}
.button_selectTask{
    margin-left: 1rem;
    width: 10vw;
    border: none;
    cursor: pointer;
}

.button_selectTask h2{
    border-width: inherit;
    color: var(--cor-primaria);  
    background: transparent;
    border-style: none;
}

.infoTask{
    display: flex;
    flex-direction: column;
    margin-left:4rem ;
}

.span_title{
    color: var(--cor-primaria);
    font-size: 1.5em;
}
.titleTask{
    font-size: 1.4em;
}
.span_description{
    color: var(--cor-primaria);
    font-size: 1.1em;
}
.description{
    font-size: 1em;
}
.div__hours{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 11vw;
}
.span_hours{
    color: var(--cor-primaria);
    font-size: 1.1em;
}
.hours{
    font-size: 1em;
}


.modal__task {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__content {
    margin: 4rem auto;
    width: 80%;
}

.div__Register input{
    width: 100%;
    height: 30px;
}

.div__tags {
    display: flex;
}

.div__tags button, input {
    margin-right: 5px;
}

.div__tags button {
    border-width: 0px;
    background-color: var(--cor-tercearia);
    color: #fff;
    padding: 5px;
    border-radius: 10px;
}

.div__tags button:hover {
    background-color: #59a842;
}

.div__Register input {
    padding-left: 5px;
}

.lupaTask{
    position: absolute;
    color: #A6A0AE;
    font-size: 18px;
    left: 69vw;
    top: 27.8vh;
}   