@import url(../css/global.css);

.overview__imgEmpresa {
    clip-path: circle();
    width: 15em;
    object-fit: contain;
    margin-right: 1rem;
}

.section__infoBox {
    display: flex;
}

.div__infBox {
    display: flex;
}

.div__textBox {
    display: flex;
    flex-direction: column;
}

.titulo__projeto {
    margin-bottom: 1.5rem;
    font-size: 2em;
}

.div__textBox p {
    font-size: 1.5em;
}

.div__textBox h2 {
    color: var(--cor-secundaria);
    font-weight: bolder;
}

.subtitulo_projeto {
    margin-bottom: 1rem;
    margin-right: 8px;
}

.div__description {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.div__description h2{
    font-weight: normal;
    margin-bottom: 1rem;
}

.input__descricao {
    padding-left: 5px;
    width: 90%;
    min-width: 90%;
    max-width: 90%;
    height: 100px;
    max-height: 100px;
    box-shadow: 7px 7px 9px 6px rgba(0, 0, 0, 0.25);
    font-size: 16px;
}

.div__team {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.div__team h2 {
    font-weight: normal;
}

.btn__edit {
    width: 30%;
    height: 70px;
}