@import url(../css/global.css);

.overview__imgEmpresa {
    width: 15em;
    margin-right: 1rem;
}

.overview__imgEmpresa img {
    width: 80%;
    object-fit: scale-down;
}

.section__infoBox {
    display: flex;
    align-items: center;
}

.div__infBox {
    display: flex;
}

.div__textBox {
    display: flex;
    flex-direction: column;
}

.titulo__projeto {
    margin-bottom: 1.5rem;
    font-size: 2em;
}

.div__textBox p {
    font-size: 1.5em;
}

.div__textBox h2 {
    color: var(--cor-secundaria);
    font-weight: bolder;
}

.subtitulo_projeto {
    margin-bottom: 1rem;
    margin-right: 8px;
}

.div__description {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.div__description h2{
    font-weight: normal;
    margin-bottom: 1rem;
}

.input__descricao {
    padding: 1rem;
    width: 90%;
    min-width: 90%;
    max-width: 90%;
    height: 100px;
    max-height: 100px;
    box-shadow: 7px 7px 9px 6px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    resize: none;
}

.div__team {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.div__team h2 {
    font-weight: normal;
    margin-bottom: 1rem;
}

.div__teamInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div__teamInput input {
    margin-top: 40px;
    width: 45%;
    height: 50px;
    padding-left: 4vw;
    position: relative;
}

.btn__edit {
    width: 45%;
    height: 70px;
}

.section__membersTeam {
    display: flex;
    align-items: center;
    background-color: #fff;    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 45%;
    height: 100px;
    margin-top: 1rem;
    border-radius: 10px;
}

.div__listTeams:last-child {
    margin-bottom: 2rem;
}

.section__infMembers {
    display: flex;
    flex-direction: column;
}

.equipe__fotoUsuario {
    margin: 0 1rem 0 1rem;
    width: 50px;
    height: auto;
    clip-path: circle();
    object-fit: contain;
}

.list__team {
    margin-bottom: 2rem;
}