.titulo__Settings {
    text-align: left;
}

.div__Idioma {
    text-align: left;
    float: left;
}

.titulo__Notificacao {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    float: right;
    padding-top: -290px;
    font-size: 40px;
    text-decoration: underline;
}

.Box__Options {
    width: 300px;
    height: 30px;

}

.Box__Options, option {

    font-size: 15px;
}

.btn__Link {
    margin-top: 45px;
    width: 100px;
    height: 60px;
    background-color: cornflowerblue
}

.btn__Link:hover, .link__PerfilUsuario:hover {
    transform: scale(1.4);
    font-size: 17px;
}

.link__PerfilUsuario {
    color: chartreuse;
}