.box__semTasks{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    font-size: 30px;
    font-weight: bold;  
    margin-right: 8rem;
}

.box__listagemTasks {
    display: flex;
    height: 89vh;
    align-items: center;
    flex-direction: column;
    background-color: #f8f8f8;
}

.section__listagemTasks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 12vh;
    margin-left: 12vw;
}

.section__listagemTasks h1 {
    font-size: 40px;
    color: var(--cor-primaria);
    margin: 40px 0 20px 0;
}

.div__tInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div__titlesTasks {
    display: flex;
    flex-direction: column;
}

.div__titlesTasks h2 {
    font-size: 2em;
    color: black;
    margin-bottom:2rem;
}

.div__tInput input {
    margin-top: 40px;
    width: 30%;
    height: 50px;
    padding-left: 4vw;
    position: relative;
}

.box__filter {
    display: flex;
    align-items: center;
}

.section__tasks {
    display: flex;
    justify-content: center;
}

.box__task {
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 15vh;
    width: 80%;
    margin: 10px 0 20px 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

.box__task:hover{
    background-color: #ecebee;
    transition: 0.4s;
    transform: scale(1.03);
}

.box__infTask{
    display: flex;
    justify-content: center;
    align-items: center;
}

.alertTask{
    color: rgb(234, 238, 20);
    font-size: 2em;
}
.checkTask{
    color: #59a842;
    font-size: 2em;
}
.button_selectTask{
    margin-left: 1rem;
    width: 10vw;
    border: none;
    cursor: pointer;
}

.button_selectTask h2{
    border-width: inherit;
    color: var(--cor-primaria);  
    background: transparent;
    border-style: none;
}

.infoTask{
    display: flex;
    flex-direction: column;
    margin-left:4rem ;
}

.span_title{
    color: var(--cor-primaria);
    font-size: 1.5em;
}
.titleTask{
    font-size: 1.4em;
}
.span_description{
    color: var(--cor-primaria);
    font-size: 1.1em;
}
.description{
    font-size: 1em;
}
.div__hours{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 11vw;
}
.span_hours{
    color: var(--cor-primaria);
    font-size: 1.1em;
}
.hours{
    font-size: 1em;
}

.modal__content {
    margin: 4rem auto;
    width: 80%;
}

.div__Register input{
    width: 100%;
    height: 30px;
}

.div__tags {
    display: flex;
}

.div__tags button, input {
    margin-right: 5px;
}

.div__tags button {
    border-width: 0px;
    background-color: var(--cor-tercearia);
    color: #fff;
    padding: 5px;
    border-radius: 10px;
}

.div__tags button:hover {
    background-color: #59a842;
}

.div__tags button:focus{
    background-color: #54c233;
}

.div__Register input {
    padding-left: 5px;
}

.lupaTask{
    position: absolute;
    color: #A6A0AE;
    font-size: 18px;
    left: 69vw;
    top: 27.8vh;
}   

.btn_salvar1{
    margin-top: 3vh;
    margin-bottom: 3rem;
    margin-right: 10rem;
}

/* CSS DOS MODAL */

.modal-content1{
    background-image: linear-gradient(to bottom, #485d70, #57697a, #667684, #76828f, #858f99);
    width: 60%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.44);
    box-sizing: border-box;
    box-shadow: 5px 8px 10px 3px rgb(31 30 30 / 25%);
    margin-left: 23vw;
    height: 95vh;
    margin-top: 1rem;
}

.modal__task{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
}

.box__tituloTask{
    height: 15vh;
}

.tituloTask{
    color: #fff;
    font-size: 40px;
     margin: 40px 0 20px 0;
}

.box__DetailsTask{
    height: 15vh;
}

.detailsTask{
    color: #fff;
}

.btn__coment{
    background-color: #348fdf;
    color: #FFFF;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    border-color: #348fdf;
    width: 14vw;
    height: 6vh;
    border-radius: 14px;
    border: none;
    margin-top: 2.5rem;
}

.btn__coment:hover{
    cursor: pointer;
    background-color: #1B65A6;
    transition: all 1.5s 0s ease;
    transform: scale(1.01);
    transition: all 0.2s;
}

.section__coment{
    width: 52vw;
    overflow-y: auto; 
    height: 29vh;
    overflow-x: hidden;
}

.comentTask{
    color: #fff;
}

::-webkit-scrollbar {
    width: 1vw;
    background: #cac7c7;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: #ffff;
    border-radius: 16px;
}

.label_coment{
    color: #ffff;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.input_add_coment{
    width: 25vw;
    border: #302e2e;
    border-width: thin;
    margin-top: 0.5rem;
    padding-left: 2em;
}

.box__coment{
    width: 10vw;
}

.div__coment {
    display: flex;
    align-items: center;
}

.box__comentario{
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    align-self: center;
    height: 5em;
    width: 50vw;
    margin: 10px 0 20px 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    padding-left: 2rem;
}

.coment__infUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.coment__imgUser {
    width: 2em;
    height: 2em;
}

/* MODAL DE ADD TASK */
.modal-content2{
    background-image: linear-gradient(to left top, #bdc4cb, #afb6be, #a1a9b2, #939ca5, #858f99);
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.44);
    box-sizing: border-box;
    box-shadow: 5px 8px 10px 3px rgb(31 30 30 / 25%);
    margin-left: 30vw;
    height: 87vh;
    margin-top: 2.5rem;

}

.div__Register h1{
    font-size: 40px;
    color: var(--cor-primaria);
    margin-top: 1rem;

}

.input_title{
    width: 30vw;
    border-bottom-color: #000000;
    border-top: none;
    border-right: none;
    border-left: none;
    border-width: thin;
    background-color: #e2dee7;
    padding: 8px 20px;
}

.input_descricao{
    width: 30vw;
    border-bottom-color: #000000;
    border-top: none;
    border-right: none;
    border-left: none;
    border-width: thin;
    background-color: #e2dee7;
    padding: 8px 20px;
}

.input_tag{
    width: 15vw;
    border-bottom-color: #000000;
    border-top: none;
    border-right: none;
    border-left: none;
    border-width: thin;
    background-color: #e2dee7;
    padding: 8px 20px;
    margin-top: 1rem;
}

.box_input_descricao{
    margin-top: 1rem;
}

.box_input_horas{

    margin-top: 2rem;
}

.box_input_tag{
    margin-top: 2rem;
}
.input_horas{
    width: 30vw;
    border-bottom-color: #000000;
    border-top: none;
    border-right: none;
    border-left: none;
    border-width: thin;
    background-color: #e2dee7;
    padding: 8px 20px;
}

.box_btn_cadTask{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.btn_cadTask{
    background-color: #1B65A6;
    color: #FFFF;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    border-color: #1B65A6;
    width: 11vw;
    height: 6vh;
    border-radius: 14px;
    border: none;
}

.btn_cadTask:hover{
    cursor: pointer;
    background-color: #348fdf;
    transition: all 1.5s 0s ease;
    transform: scale(1.01);
    transition: all 0.2s;
}

@media (min-width: 1920px) {
    .containerL {
        max-width: 1920px;
    }

    .modal-content2{
    background-image: linear-gradient(to left top, #bdc4cb, #afb6be, #a1a9b2, #939ca5, #858f99);
    width: 36%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.44);
    box-sizing: border-box;
    box-shadow: 5px 8px 10px 3px rgb(31 30 30 / 25%);
    margin-left: 34vw;
    height: 63vh;
    margin-top: 10.5rem;
}

.box_btn_cadTask{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
 }

 .lupaTask{
    left: 70.5vw;
    top: 21.8vh;
    position: absolute;
    color: #A6A0AE;
    font-size: 18px;
 }

 .input_add_coment{
    width: 25vw;
    border: #302e2e;
    border-width: thin;
    margin-top: 0.5rem;
    padding-left: 2em;
    height: 7vh;
 }

 .modal__task{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35vw;
 }
}