@import url(../css/global.css);

.overview__imgEmpresa {
    width: 15em;
    margin-right: 1rem;
}

.overview__imgEmpresa img {
    width: 80%;
    object-fit: scale-down;
}

.section__infoBox {
    display: flex;
    align-items: center;
}

.div__infBox {
    display: flex;
}

.div__textBox {
    display: flex;
    flex-direction: column;
}

.titulo__projeto {
    margin-bottom: 1.5rem;
    font-size: 2em;
}

.div__textBox p {
    font-size: 1.5em;
}

.div__textBox h2 {
    color: var(--cor-secundaria);
    font-weight: bolder;
}

.subtitulo_projeto {
    margin-bottom: 1rem;
    margin-right: 8px;
}

.div__description {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.div__description h2{
    font-weight: bolder;
    margin-bottom: 1rem;
}

.input__descricao {
    padding: 1rem;
    width: 90%;
    min-width: 90%;
    max-width: 90%;
    height: 100px;
    max-height: 100px;
    box-shadow: 7px 7px 9px 6px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    resize: none;
}

.div_tasks{
    font-weight: bolder;
    margin-top: 2rem;
}

.div__team {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.div__teamRegister {
    display: flex;
    flex-direction: column;
}

.div__teamRegister h3 {
    margin: 1rem 0 1rem 0;
    color: var(--cor-secundaria);
}

.div__teamRegister input {
    width: 45%;
    height: 50px;
    padding-left: 4vw;
    position: relative;
    background: #e7e7e7;
}

.section__membersRegister {
    display: flex;
    align-items: center;
    background-color: #fff;    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 100px;
    margin: 1rem 0 1rem 0;
    border-radius: 10px;
}

.btn__addTeam {
    display: flex;
    justify-self: flex-end;
    margin-right: 1rem;
}

.div__listTeams:last-child {
    margin-bottom: 2rem;
}

.section__infMembers {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.div__team h2 {
    font-weight: bolder;
    margin-bottom: 1rem;
}

.div__teamInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div__teamInput input {
    margin-top: 40px;
    width: 45%;
    height: 50px;
    padding-left: 4vw;
    position: relative;
    background: #e7e7e7;
}

.btn__edit {
    background-color: #d3d5d6;
    color: rgb(44, 41, 41);
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    border-color: #1B65A6;
    width: 14vw;
    height: 6vh;
    border-radius: 14px;
    border: none;       
    margin-top: 1rem;
}
.btn__edit:hover {
    cursor: pointer;
    background-color: #348fdf;
    transition: all 1.5s 0s ease;
    transform: scale(1.01);
    transition: all 0.2s;
}

.section__membersTeam {
    display: flex;
    align-items: center;
    background-color: #fff;    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 45%;
    height: 100px;
    margin-top: 1rem;
    border-radius: 10px;
}

.div__listTeams:last-child {
    margin-bottom: 2rem;
}

.section__infMembers {
    display: flex;
    flex-direction: column;
}

.equipe__fotoUsuario {
    margin: 0 1rem 0 1rem;
    width: 50px;
    height: auto;
    clip-path: circle();
    object-fit: contain;
}

.list__team {
    margin-bottom: 2rem;
}

.btn_exclui_user{
    margin-right: 1rem;
    /* clip-path: circle(50% at 50% 50%); */
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-width: inherit;
    height: 8vh;
}

.modal-contentAdd{
    background-color: #fafafa;
    margin: 60px auto;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.44);
    box-sizing: border-box;
    box-shadow: 5px 8px 10px 3px rgb(31 30 30 / 25%);
    margin-left: 23vw;
    height: 20vh;
}

.btn__tasks{
    background-color: #d3d5d6;
    color: rgb(44, 41, 41);
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    border-color: #1B65A6;
    width: 14vw;
    height: 6vh;
    border-radius: 14px;
    border: none;       
    margin-top: 1rem;
}

.btn__tasks:hover{
    cursor: pointer;
    background-color: #348fdf;
    transition: all 1.5s 0s ease;
    transform: scale(1.01);
    transition: all 0.2s;
}

@media (min-width: 1920px) {
    .containerL {
        max-width: 1920px;
    }

    .modal-contentAdd {
        background-color: #fafafa;
        width: 65%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        border: 1px solid rgba(0, 0, 0, 0.44);
        box-sizing: border-box;
        box-shadow: 5px 8px 10px 3px rgb(31 30 30 / 25%);
        margin-top: 8rem;
        margin-left: 23vw;
        height: 15vh;
    }

        .div__teamRegister input {
            width: 45%;
            height: 50px;
            padding-left: 1vw;
            position: relative;
            background: #e7e7e7;

    }

    .btn__addTeam {
        display: flex;
        justify-self: flex-end;
        margin-right: 1rem;
        cursor: pointer;
    }
}