.section__infoPerfil {
    display: flex;
}

.perfil__imgPerfil {
    width: 15em;
    margin-right: 1rem;
    object-fit: scale-down;
    clip-path: circle();
}

.div__textPerfil {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.textPerfil__nomeUsuario {
    font-size: 1.5em;
    font-weight: 400;
}

.textPerfil__emailUsuario {
    font-size: 1em;
    font-weight: 400;
}

.button__editProfile {
    background-color: #1B65A6;
    color: #FFFF;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    border-color: #1B65A6;
    width: 14vw;
    height: 6vh;
    border-radius: 14px;
    border: none;       
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.modal__PerfilEdit{
    background-color: #fafafa;
    margin: 60px auto;
    width: 45%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 5px 8px 10px 3px rgba(31, 30, 30, 0.25);
    margin-left: 28vw;

}

.button__editProfileModal {
    background-color: #1B65A6;
    color: #FFFF;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    border-color: #1B65A6;
    width: 14vw;
    height: 6vh;
    border-radius: 14px;
    border: none;       
}

.button__editProfileModal:hover{
    cursor: pointer;
    background-color: #348fdf;
    transition: all 1.5s 0s ease;
    transform: scale(1.01);
    transition: all 0.2s;
}

.button__editProfile:hover {
    cursor: pointer;
}

.modal__contentPerfil{
    margin: 4rem auto;
    width: 80%; 
}


@media (min-width: 1920px) {
    .containerL {
        max-width: 1920px;
    }

    .button__editProfileModal {
        background-color: #1B65A6;
        color: #FFFF;
        font-weight: bold;
        border-width: 1px;
        border-style: solid;
        border-color: #1B65A6;
        width: 14vw;
        height: 6vh;
        border-radius: 14px;
        border: none;
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: center; */
        margin-top: 3rem;
        margin-left: 2rem;
    }

    .modal__PerfilEdit {
        background-color: #fafafa;
        width: 36%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        box-sizing: border-box;
        box-shadow: 5px 8px 10px 3px rgba(31, 30, 30, 0.25);
        margin-left: 34vw;
        margin-top: 17vh;
    }

    .modal__contentPerfil {
        width: 80%;
        margin-left: 6vw;
        margin-top: 6vh;
    }

    input[type="file"] {
        width: 7vw;
    }
}
