.section__infoPerfil {
    display: flex;
}

.label__imgUpload{
    width: fit-content;
    cursor: pointer;
    height: fit-content;
    clip-path: circle();
}

.label__infoPerfil {
    display: flex;
    flex-direction: column;
    margin: 30px 0 30px 0;
}

.label__infoPerfil:first-child {
    margin-top: 0px;
}

.perfil__imgPerfil {
    width: 10em;
    margin-right: 1rem;
    object-fit: scale-down;
    clip-path: circle();
}
.perfil__imgPerfil:hover {
    background-color: #1B65A6;
    filter: blur(0.15em) saturate(30%);
    transition: 1s;
}
#foto{
    position: relative;
}
#comentario{
    position: relative;
    color: #113352;
    display: block;
    opacity: 0;
    transition: all 300ms ease;
    top: -13vh;
    height: 3vh;
    width: 11vw;
    margin-left: 1rem;
    -webkit-transition: all 300ms ease;
     -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    font-weight: bolder;
    text-shadow: 
               -1px -1px 0px #FFF, 
               -1px 1px 0px #FFF,                    
                1px -1px 0px #FFF,                  
                1px 0px 0px #FFF;
}

#foto:hover  #comentario{
    opacity: 1;
}

.div__textPerfil {
    display: flex;
    flex-direction: column;
}

.textPerfil__nomeUsuario {
    font-size: 1.5em;
    font-weight: 400;
}

.textPerfil__emailUsuario {
    font-size: 1em;
    font-weight: 400;
}

.imgUpload {
    visibility: hidden;
    width: 0;
    height: 0;
}

.input__editPerfil {
    padding: 10px;
    height: 40px;
    box-shadow: 15px 15px 29px 4px rgb(0 0 0 / 25%), inset 4px 3px 12px rgb(0 0 0 / 25%);
    margin-top: 10px;
    width: 25em;
}

.button__editProfile {
    background-color: #1B65A6;
    color: #FFFF;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    border-color: #1B65A6;
    width: 14vw;
    height: 6vh;
    border-radius: 14px;
    border: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.modal__PerfilEdit {
    background-color: #fafafa;
    margin: 60px auto;
    width: 45%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 5px 8px 10px 3px rgba(31, 30, 30, 0.25);
    margin-left: 28vw;

}

.button__editProfileModal {
    background-color: #1B65A6;
    color: #FFFF;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    border-color: #1B65A6;
    width: 14vw;
    height: 6vh;
    border-radius: 14px;
    border: none;
}

.button__editProfileModal:hover {
    cursor: pointer;
    background-color: #348fdf;
    transition: all 1.5s 0s ease;
    transform: scale(1.01);
    transition: all 0.2s;
}

.button__editProfile:hover {
    cursor: pointer;
}

.modal__contentPerfil {
    margin: 4rem auto;
    width: 80%;
}


@media (min-width: 1920px) {
    .containerL {
        max-width: 1920px;
    }

    .button__editProfileModal {
        background-color: #1B65A6;
        color: #FFFF;
        font-weight: bold;
        border-width: 1px;
        border-style: solid;
        border-color: #1B65A6;
        width: 14vw;
        height: 6vh;
        border-radius: 14px;
        border: none;
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: center; */
        margin-top: 3rem;
        margin-left: 2rem;
    }

    .modal__PerfilEdit {
        background-color: #fafafa;
        width: 36%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        box-sizing: border-box;
        box-shadow: 5px 8px 10px 3px rgba(31, 30, 30, 0.25);
        margin-left: 34vw;
        margin-top: 17vh;
    }

    .modal__contentPerfil {
        width: 80%;
        margin-left: 6vw;
        margin-top: 6vh;
    }

    input[type="file"] {
        width: 7vw;
    }
}