.titulo__Settings {
    text-align: left;
    text-decoration: underline #77BF63;

}

.div__Idioma {
    float: left;
    text-align: left;
    float: left;
}

.div__Notificacao {
    float: right;
}

.titulo__Notificacao {
    color: #0D4373;;
    margin-top: -50%;
    margin-bottom: -50%;
    margin-left: 70%;
    text-align: left;
    float: right;
    font-size: 30px;
}

.Box__Options {
    text-align: left;
    width: 300px;
    height: 30px;

}

.Box__Options, option {

    font-size: 15px;
    
}

.btn__Link {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #1B65A6;
    color: #ffff;
    width: 17vw;
    height: 8vh;
    transition: all 0.5s;
}

.btn__Link:hover{
    cursor: pointer;
    background-color: #1B65A6;
    transition: all 1.5s 0s ease;
    transform: scale(1.01);
    transition: all 0.2s;
}


.Link{
    color: #ffff;
    text-decoration: none;
}