.language-switcher{
    display: flex;
    align-items:center;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 2rem;  
    width: 8vw;

}

.language-switcher span{
    font-size: 0.7em;
    font-style: oblique;
}

.language-switcher img{
    height: 6.5vh;
    width: 3.4vw;
    border-radius: 10vw 50vh 10vh 50vh;
}
.title{
    font-size: 0.7em;
    font-weight: 600;
    font-style: normal;
}

.language-switcher > button {
    cursor: pointer;
    background: none;
    border: none;
    height: 70px;
    width: 70px;
}

.language-switcher > button > span {
    font-size: 12px;
}